@import "../../app.scss";

.container {
  // padding: 5vw 4vw ;
  background-color: rgba($color:$theme-background, $alpha: 0.95);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;

  .swiper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: centers;
    gap: 2vw;

    .image {
      width: 8vw;
      height: 8vw;
      margin: 0 1vw;
      background-repeat: no-repeat;
      background-size: 100% 100%; 
      background-color: red;
      border-radius: 50%;
    }

    .active {
      transform: scale(1.5);
      margin: 0 3vw;
    }
  }

  .item {
    background-color: #fff;
  }
}