$theme-background:#003153; // 普鲁士蓝 主题色
$theme-color: #e5ddd7; // 主题色 雾灰色

.container {
  background-color: $theme-background;
  height: 100%;
  width: 100%;

  .earth {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    border-color: $theme-color;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $theme-color;
    // box-shadow:0.15vw 0.15vw 0.21vw 0.15vw $theme-color;
    overflow: hidden;

    // background-image: url("../../../src/image/earth.png");不支持本地调用
    image {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      animation-name: rotate;
      animation-duration: 3.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;

    }

    .blue {
      filter: grayscale(0); // 图片设置成灰色
    }

    .gray {
      filter: grayscale(1); // 图片设置成灰色
    }
  }


  @keyframes rotate {
    0% {
      left: 0;
    }

    100% {
      left: -100%;
    }

  }


}